/*CONTACT INFO*/

table {
  text-align: center;
  margin-left: 510px;
  margin-top: -120px;
}

.table a
{
    display:block;
    text-decoration:none;
}

.contact {
  margin-left:570px;
  margin-bottom: 0px;
  margin-top: -15px;
  width:800px;
}

/*thead {
  font-weight: bold;
}

td {
  font-size: 15px;
}

.contact-type {
  font-weight: bold;
}*/

/*table:hover {
  transform: scale(1.1);
}*/

/*JUMBOTRON HEADER*/
#jumbotron-background {
  background-image: url('../img/GBB.jpeg');
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-top: 5px;
}

#jumbotron-background p {
  font-family: Canterbury;
  margin-top: 80px;
  font-size: 5em;
  font-weight: 200px;
  color: white;
  text-shadow: 2px 2px grey;
}
/*MEDIA QUERIES*/
@media only screen and (min-width: 10px) and (max-width: 1200px) {
  .contact>img, .contact>col-xd-6{
   float: none;
   margin: 0 auto;
   display: block;
 }
}

footer {
  margin-top: 200px;
}
