/*BODY CONTENT*/

#jumbotron-background {
  background-image: url('../img/Aezen.jpeg');
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-top: 5px;
}

#jumbotron-background p {
  font-family: Canterbury;
  margin-top: 80px;
  font-size: 5em;
  font-weight: 200px;
  text-shadow: 3px 3px black;
  color: #fff;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 200px) and (max-width: 1200px) {
  .col-centered-sm {
    float: none;
    margin: 0 auto;
    display: block;
  }
}
