/*------UNIVERSALS------*/
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/*--------HEADER--------*/
.logo {
  height: 120px;
  padding-top: 50px;
  padding-right: 30px
}

.logos {
margin: auto;
width: 71%;
}

.nameLogo {
  width: 600px;
}

.satisfy-text {
}

header {
}

header li {
  margin-right: 15px;
}
/*NAVBAR*/
header {
}

.nav {
  margin-top: 135px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #000000;
}

/*---JUMBOTRON SECTION---*/
#example1 {
  background-image: url('../img/Tbanner1.jpg');
  padding-top: 9%;
}

#example2 {
  background-image: url('../img/Cversibanner.jpg');
}

#example2 h3, #example3 h3 {
/*text-shadow: -1px 0 #000000,0 3px #000000,3px 0 #000000,0 -1px #000000;*/
color: #FFFFFF;
  -webkit-text-stroke: 1px #000;
}

#example3 {
  background-image: url('../img/Pauratus.jpg');
}

.carousel-caption {
  padding-bottom: 150px;
  padding-left: 10px;
}

.carousel-caption h3 {
  font-size: 36px;
  padding-bottom: 20px;
}

.carousel-caption p {
  font-size: 18px;
  background-color: #043457;
}

.item {
  height: 400px;
  background-position: center;
  background-size: cover;
}

/*--- PRODUCTS AND SERVICES SECTION ---*/
.featured {
  margin-left: 10px;
}

.thumbnail {
  background-color: #043457;
  border: 1px solid #043457;
  border-radius: 10px;
}

.thumbnail img {
  height: px;
  padding: 9px;
  padding-top: 24px;
}

.thumbnail img:hover {
    transform: scale(1.70);
    transform: scale(1.115);
    transition: 0.15s;
} /*.54, .09*/

.thumbnail a {
  height: 320px;
}

.caption h4 {
  color: white;
  text-align: center;
}

.caption p {
  color: white;
  text-align: center;
}

.caption form {
  text-align: center;
}

/*-------- FOOTER SECTION --------*/
footer {
  background-color: #231F20;
}

footer img {
  width: 120px;
}

.section-border {
  border-right: 1px solid #323232;
}

.medium-grey {
  color: #aaaaab;
}

address {
  margin-top: 20px;
}

i {
  color: white;
  height: 20px;
}

.footerIcons {
  margin-top: 20px;
}

footer p {
  margin-top: -8px;
  color: #aaaaab;
}

.footerLogo {
  height: 50px;
}

.copyright {
  margin-top: 0px;
  text-align: center;
  color: #aaaaab;
}

a.social {
  text-decoration:none;
  color: #aaaaab;
}

a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 100px) and (max-width: 1000px) {
  .logo {
    height: 20px;
  }
  .nameLogo {
    height: 30px;
    margin-left: 10px;
  }
}
